<div class="container color-dark">
    <div class="col">
        <p>Añade tu artista favorito</p>
    </div>
    <div class="col">
        <p>Your bucket list ({{ itemCount }})</p>
    </div>
</div>
<div class="container color-light" [@goals]=goals.length>
    <div class="col">
        <p class="sm">Utiliza este formulario para añadir todos tus álbumes favoritos</p>
        <form>
            <input type="text" class="txt" name="item" placeholder="Nombre del artista, banda o grupo" [(ngModel)] = "artistName">
            <input type="text" class="txt" name="item" placeholder="Album favorito de {{ artistName }}" [(ngModel)] = "albumName">
            <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
        </form>
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
            {{ goal.album_artist }} - {{ goal.album_name }}
        </p>
    </div>
</div>